@model WaterLevel

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Water Level</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="MeasurementDate"></label>
            <input asp-for="MeasurementDate" disabled class="form-control" />
            <span asp-validation-for="MeasurementDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HeightWater"></label>
            <input asp-for="HeightWater" disabled class="form-control" />
            <span asp-validation-for="HeightWater" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="WaterLevels" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
